.advices-page{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    gap: 5%;
}

.companies-container{
    width: 40%;
    background-color: #3A4248;
    border-radius: 0 100px 0 0;
}

.advices-container{
    width: 60%;
    padding-left: 5%;
}

.advice-card {
    width: 60%;
    height: auto;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #F6F6F6;
    text-align: justify;
}

.advice-card-header {
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    font-style: italic;
}