   /*Footer*/
   .footer {
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
    padding: 3%;
    font-family: Gotham Rounded;
    font-size: 0.813rem;
    text-align: left;
    font-weight: 300;
  }

  .footer .footer-logo,
  .footer .footer-menu {
    width: 20%;
    max-width: 20%;
  }

  .footer .footer-menu ul li {
    list-style: none;
  }
  .footer .footer-menu ul li a {
    text-decoration: none;
    color: #3a4248;
    transition: all 0.2s;
  }
  .footer .footer-menu ul li a:hover {
    color: #fc8855;
  }
  .footer .footer-logo {
    padding-right: 5%;
  }
  .footer .footer-menu:nth-child(2) {
    padding-right: 5%;
    line-height: 2.5rem;
  }
  .footer .footer-menu:nth-child(3) {
    padding-right: 3%;
  }

  .footer .footer-menu:nth-child(3),
  .footer .footer-menu:nth-child(4) {
    border-left: 0.2rem solid #3a4248;
    line-height: 2.5rem;
  }
  .footer .footer-menu:nth-child(3) ul,
  .footer .footer-menu:nth-child(4) ul {
    margin-left: -1rem;
  }
  .footer .footer-menu:nth-child(4) {
    font-weight: 350;
  }

  .footer .footer-menu:last-child a {
    font-size: 0.688rem;
    line-height: 2rem;
  }

  .footer .footer-menu:last-child p {
    font-size: 0.563rem;
    line-height: 1.2rem;
  }

  .footer .footer-menu .cs-strong {
    font-size: 1rem;
    font-weight: 350;
  }

  .footer .footer-menu a.cs-link-color {
    color: #fc8855;
  }
  .footer .footer-menu a.cs-link-color:hover {
    color: #3a4248;
  }

  @media (max-width: 767.98px) {
    .footer {
      flex-direction: column;
    }

    .footer .footer-logo,
    .footer .footer-menu {
      width: 100%;
      max-width: 100%;
    }

    .footer .footer-menu:nth-child(3),
    .footer .footer-menu:nth-child(4) {
      border-left: 0;
      border-top: 0.2rem solid #3a4248;
    }
    .footer .footer-menu:nth-child(3) ul,
    .footer .footer-menu:nth-child(4) ul {
      margin-left: 0;
    }
  }