:root {
  --color-background: #FFFFFF;
  --color-primaryAccent: #FC8855;
  --color-text: #3A4248;
  --color-container: #F6F6F6;
  --font-family-main: "GothamRounded";
  --lineHeight: 2;
  --font-family-accent: "Oswald";
  --font-size-XXL: 128px;
  --font-size-XL: 50px;
  --font-size-L: 30px;
  --font-size-M: 20px;
  --font-size-S: 16px;
  --font-size-XS: 11px;
  --font-size-XXS: 9px ;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
