html, body {
  background: var(--color-background);
}

.m-titleMission {
  display: block;
  margin-left: 0;
  padding-left: 40px;
}

.o-main {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--color-background);

  &__m-sectionOne {
    width: 50%;
  }
  &__m-titleh2 {
    text-align: left;
    font-family: var(--font-family-accent);
    font-size: var(--font-size-L);
    color: var(--color-text);
    margin-bottom: 18px;
    & > span {
      color: var(--color-primaryAccent);
    }
  }

  &__m-searchBar {
    background-image: url("../../public/search.svg");
    background-repeat: no-repeat;
    background-position-x: 16px ;
    background-position-y: 10px ;
    text-indent: 20px;
    background-size: 17px;
    border: rgba(58, 66, 72, .2) 2px solid;
    padding-left: 24px;
    height: 40px;
    border-radius: 50px;
    font-size: var(--font-family-main);
    &--submit {
      margin-left: 8px;
      height: 40px;
      font-size: var(--font-family-main);
      border-radius: 10px;
      padding-left: 8px;
      padding-right: 8px;
      border: rgba(58, 66, 72, .2) 2px solid;
      background: rgba(58, 66, 72, .2);
      color: rgba(58, 66, 72, .7) ;
      &:hover {
        background: var(--color-primaryAccent);
        color: var(--color-background);
      }
    }

  }

  &__m-containerOption {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;

  }

&__m-buttonAdd {
  border: none;
  background: var(--color-background);

  & > img {
    filter: brightness(0) saturate(100%) invert(23%) sepia(16%) saturate(381%) hue-rotate(163deg) brightness(97%) contrast(92%);  }
  & > img:hover {
    filter: brightness(0) saturate(100%) invert(66%) sepia(55%) saturate(1248%) hue-rotate(322deg) brightness(99%) contrast(99%);
  }
}

  &__m-articles {
    width: 100%;
    margin-top: 8px;
  }

  &__m-comet {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    background: var(--color-container);
    text-align: left;
    font-family: var(--font-family-main);
    font-size: var(--font-size-S);

    &--a-textComet {
      font-family: var(--font-family-main);
      width: 100%;
      font-size: var(--font-size-S);
      font-weight: bold;
    }

    &--a-icon {
      border: none;
      &> img{
        width: 16px;
        height: 16px;
      }
    }

    &--a-video {
      margin-right: 16px;
    }
    &--a-participants {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      font-family: var(--font-family-main);
    }

    &--a-containerType {
      padding-top: 10px;
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      flex-direction: row;
    }

    &--m-containerName {
      display: flex;
      flex-wrap: nowrap;
      margin-top: 4px;
      margin-bottom: 4px;
      width: 100%;
      & > *, & > * > * {
        font-family: var(--font-family-main);
      }

      & > p {
        font-family: var(--font-family-main);
        color: var(--color-primaryAccent);
        padding-right: 16px;
      }

    }

    &--a-tag {
      border: none;
      border-radius: 50px;
      background: #D9D9D9 ;
      padding-left: 8px;
      padding-right: 8px;
      font-family: var(--font-family-main);
      font-size: var(--font-size-XS);
      color: var(--color-text);
      height: 20px;
      padding-top: 4px;
      padding-bottom: 4px;
      margin-right: 4px;
    }

    &--a-city {
      margin-bottom: 11px;
      margin-top: 4px;
    }

    &--a-desc {
      padding-bottom: 16px;
      font-size: 14px;
    }
  }
}

.o-support {
  padding-left: 40px;
  padding-right: 40px;
  text-align: left;
  color: var(--color-text);
  & > video {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  &__a-title {
    font-family: var(--font-family-accent);
    margin-top: 40px;
    font-size: var(--font-size-XL);
    margin-bottom: 30px;
    text-align: center;
  }

  & > h2 {
    font-family: var(--font-family-accent);
    font-size: var(--font-size-L);
    margin-bottom: 16px;
  }

  & > a {
    text-decoration: none;
    color: var(--color-text);
  }

  .m-sectionTwo {

  }
}